################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Factory/.vs/Factory/v16
/Factory/Factory.Solution1/bin/Debug
/Factory/Factory.Solution1/obj/Debug
/Factory/Factory.Solution2/bin/Debug
/Factory/Factory.Solution2/obj/Debug
/Factory/Factory.Solution3/bin/Debug
/Factory/Factory.Solution3/obj/Debug
/Singleton/.vs/Singleton/v16
/Singleton/Singleton/bin/Debug/netcoreapp2.2
/Singleton/Singleton/obj
/Singleton/.vs/Singleton/DesignTimeBuild
/State/.vs/State/v16
/State/WorkItemTracking/bin/Debug/netcoreapp2.2
/State/WorkItemTracking/obj
/State/WorkItemTracking.State/bin/Debug/netcoreapp2.2
/State/WorkItemTracking.State/obj
/AbstractFactory/.vs/AbstractFactory
/AbstractFactory/AbstractFactory.AccessControl/bin/Debug/netcoreapp2.2
/AbstractFactory/AbstractFactory.AccessControl/obj
/AbstractFactory/AbstractFactory.Simple/bin/Debug/netcoreapp2.2
/AbstractFactory/AbstractFactory.Simple/obj
