################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Factory/.vs/Factory/v16
/Factory/Factory.Solution1/bin/Debug
/Factory/Factory.Solution1/obj/Debug
/Factory/Factory.Solution2/bin/Debug
/Factory/Factory.Solution2/obj/Debug
/Factory/Factory.Solution3/bin/Debug
/Factory/Factory.Solution3/obj/Debug
/Singleton/.vs/Singleton/v16
/Singleton/Singleton/bin/Debug/netcoreapp2.2
/Singleton/Singleton/obj
/Singleton/.vs/Singleton/DesignTimeBuild
/State/.vs/State/v16
/State/WorkItemTracking/bin/Debug/netcoreapp2.2
/State/WorkItemTracking/obj
/State/WorkItemTracking.State/bin/Debug/netcoreapp2.2
/State/WorkItemTracking.State/obj
/AbstractFactory/.vs/AbstractFactory
/AbstractFactory/AbstractFactory.AccessControl/bin/Debug/netcoreapp2.2
/AbstractFactory/AbstractFactory.AccessControl/obj
/AbstractFactory/AbstractFactory.Simple/bin/Debug/netcoreapp2.2
/AbstractFactory/AbstractFactory.Simple/obj
/Prototype/.vs/Prototype
/Prototype/Prototype.BasketApi/obj
/Prototype/Prototype.BasketApi/bin/Debug/netstandard2.0
/Prototype/Prototype.Version1/bin/Debug/netcoreapp2.2
/Prototype/Prototype.Version1/obj
/Prototype/Prototype.Version2/bin/Debug/netcoreapp2.2
/Prototype/Prototype.Version2/obj
/Prototype/Prototype.Version3/bin/Debug/netcoreapp2.2
/Prototype/Prototype.Version3/obj
/Prototype/Prototype.Version4/bin/Debug/netcoreapp2.2
/Prototype/Prototype.Version4/obj
/Builder/.vs/Builder/v16
/Builder/Builder.Solution1/bin/Debug/netcoreapp2.2
/Builder/Builder.Solution1/obj
/Builder/Builder.Solution2/bin/Debug/netcoreapp2.2
/Builder/Builder.Solution2/obj
/Builder/Builder.Solution3/bin/Debug/netcoreapp2.2
/Builder/Builder.Solution3/obj
/Builder/Builder.Solution4/bin/Debug/netcoreapp2.2
/Builder/Builder.Solution4/obj
