################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Factory/.vs/Factory/v16
/Factory/Factory.Solution1/bin/Debug
/Factory/Factory.Solution1/obj/Debug
/Factory/Factory.Solution2/bin/Debug
/Factory/Factory.Solution2/obj/Debug
/Factory/Factory.Solution3/bin/Debug
/Factory/Factory.Solution3/obj/Debug
