<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AccessControlFactories" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <AccessControlFactories>
    <add key="ZK" value="Factory.Solution3.Factories.ZkAccessControlFactory"/>
    <add key="LG" value="Factory.Solution3.Factories.LgAccessControlFactory"/>
    <add key="HP" value="Factory.Solution3.Factories.HpAccessControlFactory"/>
  </AccessControlFactories>
</configuration>